<div class="container mb-5" id="proyectos">
  <h3 class="text-primary bg-dark p-2 mb-5">Proyectos</h3>
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="https://via.placeholder.com/640x480.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Portfolio #YoProgramo</h5>
          <p class="card-text">Proyecto Integrador Portfolio Web Full Stack de #YoProgramo</p>
          <a href="https://github.com/blanche-a/portfolio-FrontEnd.git" target="_blank" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>
